.root {
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body p{
    font-size: 15px;
    
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;

}
.shadow-box{
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
}
.qrimg{
    width: 100%;
    border-radius: 10px;
 
    
}
.qrtext{
    width: 90%;
    text-align: center;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

